@font-face {
    font-family: "Outfit";
    src: url(../fonts/static/Outfit-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit";
    letter-spacing: 1px;
}

.announcement-bar {
    border-bottom: 1px solid rgb(234, 234, 234);
}

.welcome-bar>p {
    padding: 10px 20px;
}

.welcome-bar p {
    font-size: 13px;
    color: #121212;
}

.header {
    padding: 20px 40px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    align-items: center;
}

.header-menu {
    grid-column-start: 2;
    grid-column-end: 3;
}

.search-icon a,
.left-header-icon a {
    color: #515151 !important;
    font-size: larger;
    font-style: normal;
}

.header-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-menu ul a {
    color: #515151;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}

.nav-link.dropdown-toggle {
    display: flex;
    align-items: center;
}

.nav-link.dropdown-toggle::after {
    font-size: 18px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.header-menu ul li .active {
    color: #000;
    text-underline-offset: 3px;
    text-decoration: underline;
}

.header-menu ul li a:focus {
    color: #000;
    text-underline-offset: 3px;
    text-decoration: underline;
}

.header-menu ul li a:hover {
    color: #000;
    text-underline-offset: 3px;
    text-decoration: underline;
}

.dropdown-menu {
    margin-top: 10px !important;
}

.dropdown-menu .dropdown-item {
    background-color: transparent;
    text-decoration: none !important;
}

.offcanvas-body {
    position: relative;
}

.Banner {
    position: relative;

}

.slider-Shop-Now-btn {
    position: absolute;
    bottom: 50px;
    padding: 40px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Buttons*/

.slider-Shop-Now-btn button,
.slider-resp-shop-btn button {
    padding: 10px 26px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
}

.slider-Shop-Now-btn button:hover {
    box-shadow: 0px 0px 1px 1px #fff;
}

.slider-resp-shop-btn button:hover {
    box-shadow: 0px 0px 1px 1px #fff;
}

.slider-resp-shop {
    background-color: #242833;
}

.View-all-btn button {
    padding: 10px 30px;
    background-color: #000;
    color: #fff;
    border: none;
}

.View-all-btn button:hover {
    box-shadow: 0px 0px 1px 1px #000;

}

.sec-baner-resp-shop-btn button {
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
    padding: 10px 28px;
}

.sec-baner-resp-shop-btn button:hover {
    box-shadow: 0px 0px 1px 1px #000;
}

/*Buttons*/

.Second_Banner {
    position: relative;
}

.second-banner-button {
    position: absolute;
    top: 65%;
    bottom: 30%;
    z-index: 1;
    width: 100%;
}


/* Shop Collection*/


.Shop_Collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.Shop_Card_Collection {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.Shop_Card_Image {
    overflow: hidden;
}

.Shop_Card_Image img {
    transition: all .7s;
}

.Shop_Card_Image:hover img {
    transform: scale(1.1);
}

.text:hover {
    cursor: pointer;
}

.text i {

    transition: all .2s;
}

.text:hover i {

    display: inline-block;
    transform: scaleX(1.2);
    transform-origin: left center;
}


@media (max-width:992px) {
    .Shop_Collection {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}

/* Watch Section*/

.Watch {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.watch-img img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    transition: all 1s;
}

.watch-img {
    position: relative;
}

.Sold_btn {
    left: 10px;
    padding: 4px 18px;
    color: #fff;
    background-color: #000;
    border: none;
    bottom: 30px;
    border-radius: 50px;
    position: absolute;
    font-size: 12px;
}

.watch_inf p {
    color: #161616;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
}

.col:hover img {
    cursor: pointer;
    transform: scale(1.1);
}

.col:hover .watch_inf p {
    text-decoration: underline;
}

.watch_prices .pre_price {
    text-decoration: line-through;
    color: #121212bf;
    font-size: 13px;
}

.watch_prices .new_price {
    font-size: 17px;
}


@media (max-width: 1200px) {
    .Watch {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .watch-img img {
        height: 100%;
        width: 50%;
        object-fit: cover;

    }

    .watch-img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 992px) {
    .Watch {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 768px) {
    .Watch {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}

/* View Collection*/

.View_Collection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.Card_Collection {
    display: flex;
    flex-direction: column;
    gap: 20px 0;

}

.card_Image {
    overflow: hidden;
}

.card_Image img {
    height: 242px;
    object-fit: fill;
    transition: all .7s;
}

.card_Image:hover img {
    transform: scale(1.1);
}



@media (max-width: 992px) {
    .View_Collection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .View_Collection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

@media (max-width: 556px) {
    .View_Collection {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
}

/*Men watch Collection*/

.men-watchs-column {
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.men-watch-img {
    position: relative;
}

.men-watch-img img {
    object-fit: cover;
    object-position: center center;
    height: 250px;
}

.men-watch-content h3 {
    font-size: 15px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.5px;
}

.men-watch-content div {
    text-align: center;
    color: #121212;
    font-weight: 500;
    font-size: 18px;
}

.men-watch-content button {
    padding: 8px 0;
    background-color: transparent;
    color: #3e3e3e;
    border-color: #bebebe;
}

.men-watchs {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.men-watch-content {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.men-watch-content .men-watch-btn:hover {
    background-color: rgb(63, 115, 203);
    border-color: rgb(63, 115, 203);
    color: #000;
}

@media (max-width: 768px) {
    .men-watchs {
        display: flex;
        flex-direction: column;
    }

    .men-watch-img img {
        height: 360px;
    }
}

/* Tamplate_Section */

.Tamplate_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 20px;
}

.Tamplate_Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    gap: 10px;
}

.box_image i {
    font-size: 38px;
}

.Box_text .box_title {
    text-align: center;
    font-weight: 800;
    color: #000;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.Box_text .box_desc {
    font-size: 12px;
    color: #000;
    letter-spacing: 0.5px;
}

@media (max-width: 768px) {
    .Tamplate_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 20px;
    }


}

/* footer_Section */


.Footer_Section {
    background-color: #121212;
}

.Footer_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.footer_content p {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 28px;
    color: #cacaca;

}

.footer_content h2 {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 18px;
}

.horz-row {
    border: 1px solid rgb(158, 158, 158);
}

.footer_content ul {
    color: #cacaca;
    text-underline-offset: 4px;
}

.footer_content ul li a {
    color: #cacaca;
}

.footer_content ul li a:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.footer_content>p>strong {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
}

.footer_content a {
    color: #cacaca;
    text-underline-offset: 4px;
}

.footer_copyright {
    color: #cacaca;
    font-size: 13px;
    letter-spacing: 0.5px;
}

@media (max-width: 768px) {

    .Footer_wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}